$FONT_PATH: "/assets/fonts";

@mixin processFontFace($family, $style, $weight, $planeURL) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: url($planeURL + ".eot");
    src: url($planeURL + ".eot?#iefix") format("embedded-opentype"),
      url($planeURL + ".woff2") format("woff2"),
      url($planeURL + ".woff") format("woff"),
      url($planeURL + ".ttf") format("truetype");
  }
}

// Montserrat
@include processFontFace("Montserrat", normal, 100, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 200, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 300, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 400, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 500, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 600, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 700, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 800, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");
@include processFontFace("Montserrat", normal, 900, $FONT_PATH + "/Montserrat/Montserrat-VariableFont_wght");